body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun {
	width: 300px;	
}

.sun-section {
	background: transparent url("../img/mars-pano.jpg") no-repeat center top;	
	background-size: cover;
}

.dipper {
	width: 200px;
	opacity: 0;	
}

.js-dipper-fade {
	/* Don't forget the other webkits!*/
	-webkit-animation: dipper-fade 1s linear forwards;	
}

/* Don't forget the other webkits!*/
@-webkit-keyframes dipper-fade {
	0% {
	opacity: 0;	
	}
	
	100% {
	opacity: 1;
	}
}

.ship-1 {
	width: 200px;	
	position: relative;
	top: 20px;
	opacity: 0;
}

.ship-1-section {
	background-color: rgba(249,176,21,1.00);	
}

.js-ship-fade {
	-webkit-animation: ship-fade 1s linear forwards;	
}

@-webkit-keyframes ship-fade {
	0% {
	opacity: 0;	
	top: 20px;
	}
	
	100% {
	opacity: 1;
	top: 0px;
	}
}

.ship-2,
.ship-3,
.ship-4 {
	width: 200px;
	display: inline-block;
	postion: relative;
	top: 20px;
}

.ship-3-section {
	background: transparent url(../img/kasei-valles-canyons.jpg) no-repeat center top;	
	text-align: center;
}

.js-ship2-fade {
	-webkit-animation: ship-fade 1s linear forwards;	
}

@-webkit-keyframes ship2-fade {
	0% {
	opacity: 0;	
	top: 20px;
	}
	
	100% {
	opacity: 1;
	top: 0px;
	}
}